<div class="flex">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>SIIIIIIII MENOMALE</mat-card-title>
      <mat-card-subtitle>Ti amo</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.giphy.com/2P8f8AgaeCyOObgjM0.webp" />
    <mat-card-content>
      <p>LA SIAAAAAAAAAAAAAAAAAADDDD</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Domani, 14 febbraio, sei invitata alle 20:15 per gustare un'ottima pizza! </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/pizza.png" />
  </mat-card>
</div>
