<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/tutagold.webp" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Will you be my Valentine?</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader>
        <q [hidden]="isLoading">Please tell me yes</q>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <div class="flex-container">
    <button
      (click)="action()"
      mat-raised-button
      color="primary"
      [style.font-size.px]="buttonSize"
      [style.padding.px]="buttonSize / 2"
    >
      YES
    </button>
    <button mat-raised-button color="accent" (click)="handleNoClick()" className="no-button">
      {{ noCount === 0 ? 'No' : getNoButtonText() }}
    </button>
  </div>
</div>
